* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #1f242d;
  color: #fff;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #0ef;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logo:hover {
  color: #fff;
}

.navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: all 0.3s ease-out;
}

.navbar a:hover {
  color: #0ef;
}

.heading {
  font-size: 5.6rem;
}
.heading span {
  color: #0ef;
}

span {
  color: #0ef;
}

#menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

.home {
  display: flex;
  align-items: center;
}
.home .home-content {
  max-width: 50%;
}
.home .home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home .home-content h3 span {
  color: #0ef;
}
.home .home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home .home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home .home-content p {
  font-size: 1.6rem;
}
.home .home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.3s ease-out;
}
.home .home-content .social-media a:hover {
  background: #0ef;
  color: #323946;
  box-shadow: 0 0 1rem #0ef;
}
.home .home-img {
  width: 35vw;
}
.home .home-img img {
  width: 500px;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #0ef;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.btn:hover {
  box-shadow: none;
  transform: scale(1.06);
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background-color: #323946;
  padding-top: 20px;
}
.about .about-img {
  overflow: hidden;
}
.about .about-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .about-content p {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-container .services-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 30rem;
  background: #323946;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #1f242d;
  height: 50rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}
.services-container .services-box p {
  font-size: 1.6rem;
  margin: 1rem 0rem 3rem;
}
.services-container .services-box h3 {
  font-size: 2.6rem;
}
.services-container .services-box i {
  font-size: 7rem;
  color: #0ef;
}
.services-container .services-box:hover {
  border: none;
  box-shadow: 0 0 1rem #0ef;
  transform: scale(1.04);
}

.portfolio {
  background: #323946;
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #1f242d;
  overflow: hidden;
  display: flex;
}
.portfolio .portfolio-container .portfolio-box img {
  width: 350px;
  transition: all 0.3s ease-out;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: all 0.3s ease-out;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 2.6rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0rem 1rem;
  text-align: center;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: #323946;
}
.portfolio .portfolio-container .portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0rem;
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  resize: none;
}

.contact form .input-box input {
  width: 49%;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #323946;
}
footer .footer-text p {
  font-size: 1.6rem;
}
footer .footer-icon-top a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #0ef;
  border-radius: 0.8rem;
  transition: all 0.3s ease-out;
}
footer .footer-icon-top a i {
  font-size: 2.4rem;
  color: #323946;
}
footer .footer-icon-top a:hover {
  box-shadow: 0 0 1rem #0ef;
}/*# sourceMappingURL=style.css.map */